/* Will be compiled down to a single stylesheet with your sass files */
body {
    width: 100%
}

.header {
    padding: 0.5em;
    background-color: rgb(161, 183, 223);
    height: 6em;
}
.content {
    width: 100%;
}

.scroll {
    overflow: auto;
    -webkit-overflow-scrolling: touch;
    position: absolute;
    top: 7em;
    bottom: 2.5em;
    left: 0px;
    right 0px;
}
.bottom-bar {
    position: absolute;
    bottom: 0;
    padding: 0.5em 0;
    height: 2.5em;
    background-color: #ddd;
    width: 100%;
}

.show-false {
    display: none;
}

#jobList {
    width: 100%
}

#jobList .job {
    line-height: 3.5em;
}

#jobDetails {
    padding: 0.5em;
}

#signature {
    height: 100px;
}
.mode-details #jobList {
    display: none;
}

.mode-list #jobDetails, .mode-list .job-state-change-buttons {
    display: none;
}

.job-state-change-buttons .btn {
    display: none;
}

.job-state-change-buttons #btnBack {
    display: inline;
}
.job-state-change-buttons.state-pending #btnDepart {
    display: inline;
}
.job-state-change-buttons.state-isActive #btnGotSignature {
    display: inline;
}
.job {
    padding: 0.5em;
    border-bottom: solid 1px #ddd;
}
.job.state-isActive {
    background-color: palegreen;
}
.display-false {
    display: none;
}
.display-true {
    display: block;
}




/* iPhone 4 ----------- */
@media screen and (max-device-width: 480px) {
    /* iPhone portrait */
    body {
    }
}

@media screen and (max-device-width: 480px)  {
    /* iPhone landscape */

}

@media screen and (orientation: landscape) {
    .header {
        width: 100%;
        height: 4em;
        line-height: 4em;
    }
    .header h1 {
        float: left;
    }
    .job-count {
        float: right;
        margin-right: 1.5em;

    }

    .scroll {
        top: 5em;
    }
}
/* iPads (landscape) ----------- */
@media  screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px) 
and (orientation : landscape) {
    body {
    }
}

/* iPads (portrait) ----------- */
@media  screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px) 
and (orientation : portrait) {
    body {
    }
}
