<div class="mode-{{mode}}">
    <div class="header">
        <h1>Jobbi</h1>
        <div class="job-count">You have {{jobCount()}} jobs</div>
    </div>
    <div class="content">
        <div id="jobList" class="scroll">
            <div ng-repeat="job in jobs">
                <div class="job active-{{job.isActive}}" ng-click="select(job)">
                    <div>{{job.address}}</div>
                    <div class="job-details display-{{job.isSelected}}">
                        <div ng-repeat="task in job.tasks">
                            <div class="task">{{task.description}}</div>
                        </div>
                        <div class="activity-buttons">
                            <button class="btn btn-success" ng-click="depart(job)">Depart</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div id="jobDetails">
            <h3>Address</h3>
            <address>
                {{selectedJob.address}}
            </address>
            <h3>Tasks</h3>
            <ul ng-repeat="task in selectedJob.tasks">
                <li>{{task.description}}</li>
            </ul>
            <button class="btn btn-link" ng-click="unSelect()">cancel</button>
            <button class="btn btn-success" ng-click="depart(selectedJob)">depart</button>
        </div>
    </div>
</div>
