<div class="mode-{{mode}}">
    <div class="header">
        <h1>Jobbi</h1>
        <div class="job-count">You have {{jobCount()}} jobs</div>
    </div>
    <div class="content scroll">
        <div id="jobList">
            <div ng-repeat="job in jobs">
                <div class="job state-{{job.state}}" ng-click="select(job)">
                    <i class="icon icon-{{getStatusIcon(job)}}"></i><span> {{job.address}}</span>
                </div>
            </div>
        </div>
        <div id="jobDetails">
            <h3>Address</h3>
            <address>
                {{selectedJob.address}}
            </address>
            <h3>Tasks</h3>
            <ul>
                <li ng-repeat="task in selectedJob.tasks">{{task.description}}</li>
            </ul>
            <img id="savedSignature" class="show-{{showSavedSignature()}}" src="{{getImageSrc()}}" />
            <div id="signature" class="show-{{showSignatureCapture()}}"></div>
        </div>
    </div>
    <div class="bottom-bar">
        <div class="job-state-change-buttons state-{{selectedJob.state}}">
            <button id="btnBack" class="btn btn-link" ng-click="unSelect()">back</button>
            <button id="btnDepart" class="btn btn-success" ng-click="depart()"><i class="icon-road icon-white"></i> depart</button>
            <button id="btnGotSignature"class="btn" ng-click="captureSig()"><i class="icon-thumbs-up icon"></i> signed!</button>
            <button id="btnSuspend" class="btn btn-warning" ng-click="suspend()"><i class="icon-pause icon-white"></i> suspend</button>
            <button id="btnResume" class="btn btn-success" ng-click="resume()"><i class="icon-play icon-white"></i> resume</button>
        </div>
    </div>
</div>
